.techbuild-img-container {
    position: relative;
    height: 800px !important;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    overflow: hidden;
}

.techbuild-img-container img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.techbuild-img-container::before {
    background: linear-gradient( 135deg, rgba(3, 196, 176, 0.5), rgba(3, 98, 196, 0.5));
    content: ' ';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 800px;
    z-index: 1;
}

.techbuild-img-title {
    letter-spacing: 0.5rem;
    font-size: 48px;
    font-weight: 700 !important;
    margin-bottom: 40px;
    line-height: 160%;
}

.techbuild-img-title-container {
    width: 800px;
    margin: 0px auto;
    backdrop-filter: blur(3px);
}

.techbuild-img-title-container .techbuild-apply {
    border-radius: 10em;
    font-size: 1.2rem;
    background-color: #f9b539;
    box-shadow: #bb9 0 5px 22px;
    margin: 40px 0 16px;
}

.techbuild-section-content {
    max-width: 1200px;
    margin: 80px auto;
}

.techbuild-section-title {
    font-size: 2.5em !important;
    line-height: 1.5;
    color: #3e3c3c;
    font-weight: 700 !important;
    text-align: center;
}

.techbuild-section-title::after {
    position: absolute;
    content: " ";
    display: block;
    background-color: #fff;
    border-bottom: solid 5px;
    border-image: linear-gradient(to right, rgba(107, 144, 219, 1) 0%, rgba(102, 213, 233, 1) 100%);
    border-image-slice: 1;
    width: 15%;
    margin-top: 10px;
    left: 42.5%;
}

.techbuild-section-main-container {
    text-align: center;
    max-width: 1200px;
    margin: 40px auto;
    font-size: 14px;
    line-height: 2;
}

.techbuild-section-text-container {
    max-width: 680px;
    margin: 16px auto;
}

.techbuild-section-text-container .only-pc, .techbuild-section-text-container .only-sp {
    line-height: 3;
}

.techbuild-feature-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 40px 0;
}

.techbuild-feature-inner .card {
    width: auto;
    margin: auto;
    text-align: center;
}

.techbuild-feature-inner .text {
    line-height: 200%;
    text-align: left;
    margin: 10px;
}

.techbuild-company-list {
    text-align: center;
    padding: 40px 0;
}

.techbuild-company-img {
    width: 120px;
    margin: 0 24px;
    -webkit-box-shadow: 0 2px 12px rgba(33, 33, 33, .2);
    box-shadow: 0 2px 12px rgba(33, 33, 33, .2);
}

.techbuild-support-content {
    padding: 60px 0;
    text-align: center;
}

.techbuild-support-title {
    font-size: 2rem;
    font-weight: 700 !important;
    color: #3e3c3c;
    margin-bottom: 40px;
    text-align: center;
}

.techbuild-support-title .xx-small {
    font-size: 0.4em;
}

.techbuild-support-title .xx-large {
    font-size: 4rem;
    margin-top: -5px;
    margin-bottom: 30px;
    font-weight: 700;
}

.techbuild-support-title .small {
    font-size: 0.6em;
    margin-bottom: 10px;
}

.techbuild-support-image {
    max-width: 600px;
    margin: auto;
}

.techbuild-support-image img {
    width: 400px;
}

.techbuild-support-image p {
    margin-top: 16px !important;
    font-size: 16px;
    text-align: center;
}

.techbuild-support-coach {
    margin-top: 64px !important;
    font-size: 1.5rem;
    color: #666;
}

.techbuild-support-ex-title {
    display: inline-block;
    text-align: center;
    color: #fff;
    padding: 10px 20px;
    margin-bottom: 40px;
    border-radius: 25px;
    background: linear-gradient(to right, rgba(107, 144, 219, 1) 0%, rgba(102, 213, 233, 1) 100%);
}

.techbuild-support-ex-image {
    max-width: 600px;
    margin: auto;
    text-align: left;
}

.techbuild-support-ex-image img {
    margin: 0px 0 16px;
    width: 600px;
}

.techbuild-support-ex-image p {
    font-size: 16px;
}

.techbuild-section-flow {
    max-width: 800px !important;
}

.techbuild-section-flow ul {
    padding: 0;
}

.techbuild-section-flow li {
    list-style-type: none;
}

.techbuild-section-flow dd {
    margin-left: 0;
}

.techbuild-section-flow .flow>li {
    position: relative;
}

.techbuild-section-flow .flow>li:not(:last-child) {
    margin-bottom: 40px;
}

.techbuild-section-flow .flow>li:not(:first-child)::before {
    content: "";
    height: 60px;
    display: block;
    border-left: 4px dotted #e5e5e5;
    position: absolute;
    top: -40px;
    left: -webkit-calc(10% + 30px - 2px);
    left: calc(10% + 30px - 2px);
    z-index: 10;
}

.techbuild-section-flow .flow>li dl {
    width: 100%;
    padding: 20px 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 2px solid rgb(107, 144, 219);
    border-radius: 10px;
    position: relative;
}

.techbuild-section-flow .flow>li:not(:last-child) dl::before, .techbuild-section-flow .flow>li:not(:last-child) dl::after {
    content: "";
    border: solid transparent;
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.techbuild-section-flow .flow>li:not(:last-child) dl::before {
    border-width: 22px;
    border-top-color: rgb(107, 144, 219);
}

.techbuild-section-flow .flow>li:not(:last-child) dl::after {
    border-width: 20px;
    border-top-color: #fff;
}

.techbuild-section-flow .flow>li dl dt {
    font-size: 20px;
    font-weight: 600;
    color: rgb(107, 144, 219);
    -ms-flex-preferred-size: 20%;
    flex-basis: 20%;
    margin-right: 2vw;
    text-align: center;
}

.techbuild-section-flow .flow>li dl dt .icon {
    font-size: 12px;
    color: #fff;
    background: rgb(107, 144, 219);
    background: -moz-linear-gradient(left, rgba(107, 144, 219, 1) 0%, rgba(102, 213, 233, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(107, 144, 219, 1) 0%, rgba(102, 213, 233, 1) 100%);
    background: linear-gradient(to right, rgba(107, 144, 219, 1) 0%, rgba(102, 213, 233, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b90db', endColorstr='#66d5e9', GradientType=1);
    padding: 5px 10px;
    margin-bottom: 10px;
    display: block;
    border-radius: 20px;
    position: relative;
    z-index: 100;
}

@media only screen and (max-width: 1024px) {
    .techbuild-img-title-container {
        width: 100%;
    }
    .techbuild-section-flow .flow>li dl{
        width: 80%;
    }
}

@media screen and (max-width: 782px) {
    .techbuild-img-container {
        height: 550px !important;
    }
    .techbuild-img-title-container p {
        text-align: left;
        line-height: 200%;
        padding: 0 15px;
    }
    .techbuild-section-main-container {
        text-align: left;
        font-size: 12px;
    }
    .techbuild-section-title {
        font-size: 2em !important;
    }
    .techbuild-section-title::after {
        position: absolute;
        content: " ";
        display: block;
        background-color: #fff;
        border-bottom: solid 3px;
        border-image: linear-gradient(to right, rgba(107, 144, 219, 1) 0%, rgba(102, 213, 233, 1) 100%);
        border-image-slice: 1;
        width: 30%;
        margin-top: 10px;
        left: 35%;
    }
    .techbuild-feature-inner {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin: 0;
    }
    .techbuild-feature-inner .ttl {
        text-align: center;
    }
    .techbuild-company-img {
        width: 80px;
        margin: 0 8px;
    }
    .techbuild-support-content {
        padding: 24px 0;
    }
    .techbuild-support-image p {
        font-size: 12px;
    }
    .techbuild-support-ex-image p {
        font-size: 12px;
    }
    .techbuild-section-flow .flow>li dl dt{
        font-size: 14px;
        flex-basis: 60%;
    }
}

/* ここまで */